# Page information
site_name: Thoughts in IT
site_url: https://hafizur-rahman.github.io/
site_author: Hafizur Rahman
site_description: >-
  My journey in Cloud, Big Data and AI.

# Copyright
copyright: >
  Copyright &copy; 2025 Hafizur Rahman

# Repository
# repo_url: https://github.com/hafizur-rahman/hafizur-rahman.github.io
# repo_name: hafizur-rahman/hafizur-rahman.github.io

# Configuration
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - search.highlight
    - search.share
    - toc.follow
    - content.code.copy
  
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: teal
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: teal
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: teal
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

plugins:
  - search
  - mermaid2
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html

# Pages tree
nav:
  - Home: 'index.md'
  - About me: 'author.md'
  - Bookmarks: 'posts/bookmarks.md'
  - Agentic AI:
    - Agno Framework: 'posts/agentic-ai-w-agno.md'
